body{
    margin: 2% auto;
    background-color:#eaeaea;
    width:95%;
    text-align:justify;
    
}


img.logo{
    margin-left:2%;
    margin-bottom:-380px;
    margin-top:-50px;
}

p.questintro{
    color:rgba(17, 17, 97, 0.541);
}


.fa-graduation-cap, .fa-cogs, {
    color:rgba(17, 17, 97, 0.541);
}

.fa-graduation-cap{
    margin-left:90px;
    margin-top:0;
}
.fa-cogs{
    margin-left:90px;
    margin-top:0;

}

.fa-map-marker-alt{
    color:white;
}

.technicalsupport, .educationalsupport{
    margin:0 30% 0 40%;
}

ol.litems{
    display:inline;
}


.topinfo, .midinfo, .undergradinfo, .technicalinfo{
    line-height: 2.0;
}
.mid-section{
   color: rgba(17, 17, 97, 0.541);
   padding:0 2% 1% 2%;
}



h2.mid-section{
    color:rgba(17, 17, 97, 0.541);
    font-size: 36px;
    text-align:center;

}

h4.edu, h4.technical{
    text-transform:uppercase;
    text-align:center;
    margin-left:-80px;
    
}

.bottom-section{
    background-color:rgba(17, 17, 97, 0.541);
    margin:0 auto;
    padding-bottom: 15px;
}

.top-section{
    padding:2%;
}

footer{
    background-color: rgba(17, 17, 97, 0.541);
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    margin:0 0 0 0;
    height:50px;

}

footer p{
    text-align: center;
    padding:25px 0 0 0; 
    color:goldenrod;    
}

.maincontent{
    background-color:white;
    width:100%;
    height:100%;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    margin:2% auto;
    padding-bottom:10px;
    font-family: 'Titillium Web', sans-serif;
}
.maincontent h3{
    text-align: center;
    padding-top: 2%;
    color:rgb(152, 177, 243);
}

/*styling form input*/
.personal-details, .academic-details, .submit-btn, .contact-details  {
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-color:white;
    width:95%;
    margin:0 auto;
    padding:10px 10px 10px 10px;

}



input[type = "text"]{
    width:100%;
    height:30px;
    margin:10px 0;
    background-color:#eaeaea;
    border-radius:5px;  
    -moz-border-radius:5px;  
    -webkit-border-radius:5px;  
    border-color:white;
    
}

input[type ="email"]{
    width:100%;
    height:30px;
    margin:10px 0;
    background-color:#eaeaea;
    border-radius:5px;  
    -moz-border-radius:5px;  
    -webkit-border-radius:5px;  
    border-color:white;
    border-style:inset;
    
}
input [type ="date"]{
    width:50%;
    height: 30px;
    background-color:#eaeaea;
    border-radius:5px;
    -moz-border-radius:5px;  
    -webkit-border-radius:5px; 
    border-color:white;
    border-style: outset;   
}

input[type="text"]:hover{
    background-color:white;
}
input[type="email"]:hover{
    background-color:white;     
}


select{
    width:50%;
    height: 30px;
    background-color:#eaeaea;
    border-radius:5px;
    -moz-border-radius:5px;  
    -webkit-border-radius:5px; 
    border-color:white;
    border-style: outset;
}
select:hover{
    background-color:white; 
}

label{
    color:rgb(29, 21, 21);
    padding:15px 2px 10px 0;
    line-height: 2; 

}

legend{
    color:rgb(133, 27, 219);
    font-weight: bold;
}

.foreign, .local{
    color:rgb(133, 27, 219);
    font-weight: bold;
}

/*sytling navigation bar, links*/
nav{
    background-color: rgba(17, 17, 97, 0.541);
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    height:50px;
    
}
h2.nav-header{
    color:white;
    padding:10px 0 0 10px;
    font-family: 'Titillium Web', sans-serif;
}
ul{ 
    list-style-type: none;
    padding:0 2px 0 50%;
    margin:-50px 0 0 0;
    
    

  
}
a:link{
    color:white;
    background-color:goldenrod;
    padding:8.8px 10px 8.8px 10px;
    border-radius:5px;
    text-decoration:none;
}
li{
    display:inline;
    margin:0 10px;
    font-family: 'Titillium Web', sans-serif;
    float:left;

    
}

a:visited{
    
}
a:hover{
    color:blue;
    background-color:white;

}
a:active{
    color:red;

}




/* testimony session */
.testimony-div{
    box-sizing: border-box;
    background-color: rgb(245, 224, 176);
    width:65%;
    height:300px;   
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin:0 30% 2% 20%;
    padding:1%;
    font-size:13px;
    
}

h4.testimonies{
    color:white;
    text-align:center;
    font-size: 24px;
    margin-bottom:0;
}
.testimony-img{

    width:120px;
    height:120px;
    border-radius:60px; 
    margin:0 36% 0 40%;
    padding-top:0;
}
.utme-score{
    margin:0 36% 0 42%;

}
span.utme-score{
    margin:0 0 0 2px;
    padding:none;
}
.name{
    margin:0 36% 0 42%;
}
p.info{
    align-items: center;
    margin:none;
}
button.next{
    color:red;
    border-color:white;
    margin:0 0 0 50px;
    border-radius:5px;
    
}
button.prev{
    color:red;
    border-color: white;
    border-radius:5px;
    
    
}

button.next:hover, button.prev:hover{
    background-color:lightblue;
    border-color:blue;
    
}
div.nav-icon{
    margin:0 36% 0 42%;
    padding-top:10px;
}

i.far{
    display:inline;
    position:absolute;
    background-color: none;
    margin-left:85%;
    margin-top:-50px;

}
a.arrow{
    background-color:none;
    color:white;
    background:none;

}







/* for screens less than 768px*/
@media  (max-width:768px){
    body{
        background-color:#eaeaea;
        width:100%;
        
    }
    .maincontent{
        background-color:white;
        width:100%;
        height:100%;
        border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        padding-bottom:10px;
        font-family: 'Titillium Web', sans-serif;
        margin-top:50%;
        
    }

    a:link{
        color:white;
        background-color:goldenrod;
        padding:8.8px 10px 8.8px 10px;
        border-radius:5px;
        text-decoration:none;
        display:block;
        margin:5%;
        overflow:hidden;
        float:center;
        
    }
    li{
        display:block;
        margin:0 2px;
        font-family: 'Titillium Web', sans-serif;
        text-align:center;
        margin:0 auto;
        float: left;
        
    }
    
    a:visited{
        
    }
    a:hover{
        color:blue;
        background-color:white;
    
    }
    a:active{
        color:red;
    
    }

    h2.nav-header{
        color:white;
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
        padding-bottom:30%;     

    }

    nav{
        background-color: rgba(17, 17, 97, 0.541);
        border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        height:50px;
        margin-bottom:-150px;
        margin-top:50px;
        display:none;

        
    }
    h2.nav-header{
        color:white;
        padding:10px 0 0 10px;
        margin-left:-20px;
        font-family: 'Titillium Web', sans-serif;
        font-size: 11pt;
        display:none;
    }
    ul{ 
        list-style-type: none;
        padding:0 2px 0 50%;
        margin:-50px 0 0 0;
        
        
    
      
    }
    a:link{
        color:white;
        background-color:goldenrod;
        padding:8.8px 10px 8.8px 10px;
        border-radius:5px;
        text-decoration:none;
    }
    li{
        display:inline;
        margin:0 10px;
        font-family: 'Titillium Web', sans-serif;
        float:left;
    
        
    }
    
    a:visited{
        
    }
    a:hover{
        color:blue;
        background-color:white;
    
    }
    a:active{
        color:red;
    
    }

    .bottom-section{
        background-color:rgba(17, 17, 97, 0.541);
        margin:0 auto;
        padding-bottom: 20px;
    }

    footer{
        background-color: rgba(17, 17, 97, 0.541);
        border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        margin:0 0 0 0;
        height:70px;
    } 

    .testimony-div{
        box-sizing: border-box;
        background-color: rgb(245, 224, 176);
        width:100%;
        height:300px;   
        border-radius: 10px;
        box-shadow:none;
        margin:0 auto;
        padding:1% 1% 2% 1%;
        font-size:13px;
        
    }

    .fa-graduation-cap, .fa-cogs, {
        color:rgba(17, 17, 97, 0.541);
    }
    
    .fa-graduation-cap{
        margin-left:5px;
        margin-top:0;
    }
    .fa-cogs{
        margin-left:5px;
        margin-top:0;
    
    }
    
    .fa-map-marker-alt{
        color:white;
    }

    h4.edu, h4.technical{
        text-transform:uppercase;
        text-align:center;
        margin-left:10px;
        
        
    }

    button.next{
        color:red;
        border-color:white;
        margin:0 0 0 15px;
        border-radius:5px;
        
    }
    button.prev{
        color:red;
        border-color: white;
        border-radius:5px;
        margin-left:-15px;
        
        
    }
    
    button.next:hover, button.prev:hover{
        background-color:lightblue;
        border-color:blue;
        
    }
    div.nav-icon{
        align-items: center;
        padding-bottom:2%;

    }

    .testimony-img{
        
            width:100px;
            height:100px;
            border-radius:50px; 
            
            padding-top:0;
            align-items: center;
        }

        .utme-score{
            align-items: center;
        
        }
        span.utme-score{
            margin:none;
            padding:none;
        }
        .name{
            align-items: center;
            font-size:10px; 
            margin-top:2px;
            word-spacing:1px;
        }
        p.info{
            padding:0 1% 0 1%;
            margin:none;
        }

        i.far{
            display:none;
            position:absolute;
            background-color: none;
            margin-left:85%;
            margin-top:-50px;
        
        }
        a.arrow{
            background-color:none;
            color:white;
            background:none;
            display:none;
        
        }

        


    





}
/*for screens less than 300px;*/

@media  (max-width:300px){
    body{
        background-color:#eaeaea;
        width:100%;
        
    }

    img.logo{
        top:2%;
    }
    .maincontent{
        background-color:white;
        width:100%;
        height:100%;
        border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        padding-bottom:10px;
        font-family: 'Titillium Web', sans-serif;
        margin-top:50%;
        
    }

    a:link{
        color:white;
        background-color:goldenrod;
        padding:8.8px 10px 8.8px 10px;
        border-radius:5px;
        text-decoration:none;
        display:block;
        margin:5%;
        overflow:hidden;
        float:center;
        
    }
    li{
        display:block;
        margin:0 2px;
        font-family: 'Titillium Web', sans-serif;
        text-align:center;
        margin:0 auto;
        float: left;
        
    }
    
    a:visited{
        
    }
    a:hover{
        color:blue;
        background-color:white;
    
    }
    a:active{
        color:red;
    
    }

    h2.nav-header{
        color:white;
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
        padding-bottom:30%;     

    }

    nav{
        background-color: rgba(17, 17, 97, 0.541);
        border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        height:50px;
        
    }
    h2.nav-header{
        color:white;
        padding:10px 0 0 10px;
        font-family: 'Titillium Web', sans-serif;
    }
    ul{ 
        list-style-type: none;
        padding:0 2px 0 50%;
        margin:-50px 0 0 0;
        
        
    
      
    }
    a:link{
        color:white;
        background-color:goldenrod;
        padding:8.8px 10px 8.8px 10px;
        border-radius:5px;
        text-decoration:none;
    }
    li{
        display:inline;
        margin:0 10px;
        font-family: 'Titillium Web', sans-serif;
        float:left;
    
        
    }
    
    a:visited{
        
    }
    a:hover{
        color:blue;
        background-color:white;
    
    }
    a:active{
        color:red;
    
    }
    .bottom-section{
        background-color:rgba(17, 17, 97, 0.541);
        margin:0 auto;
        padding-bottom: 20px;
    }

    footer{
        background-color: rgba(17, 17, 97, 0.541);
        border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        margin:0 0 0 0;
        height:70px;
    } 

    .testimony-div{
        box-sizing: border-box;
        background-color: rgb(245, 224, 176);
        width:100%;
        height:300px;   
        border-radius: 10px;
        box-shadow:none;
        margin:0 auto;
        padding:1% 1% 2% 1%;
        font-size:12px;
        
    }

    .fa-graduation-cap, .fa-cogs, {
        color:rgba(17, 17, 97, 0.541);
    }
    
    .fa-graduation-cap{
        margin-left:5px;
        margin-top:0;
    }
    .fa-cogs{
        margin-left:5px;
        margin-top:0;
    
    }
    
    .fa-map-marker-alt{
        color:white;
    }

    h4.edu, h4.technical{
        text-transform:uppercase;
        text-align:center;
        margin-left:10px;
        
        
    }

    button.next{
        color:red;
        border-color:white;
        margin:0 0 0 15px;
        border-radius:5px;
        
    }
    button.prev{
        color:red;
        border-color: white;
        border-radius:5px;
        margin-left:-10px;
        
        
    }
    
    button.next:hover, button.prev:hover{
        background-color:lightblue;
        border-color:blue;
        
    }
    div.nav-icon{
        align-items: center;


    }

    .testimony-img{
        
            width:70px;
            height:70px;
            border-radius:35px; 
            padding-top:0;
            align-items: center;
        }

        .utme-score{
            align-items: center;
        
        }
        span.utme-score{
            margin:none;
            padding:none;
        }
        .name{
            align-items: center;
            font-size:9px; 
            width:20px;
            margin-top:2px;
            word-spacing:1px;
            float:left;
        }
        p.info{
            padding:0 1% 0 1%;
            margin:none;
        }

        i.far{
            display:none;
            position:absolute;
            background-color: none;
            margin-left:85%;
            margin-top:-50px;
            opacity:0.5;    

        }       
        a.arrow{
            background-color:none;
            color:white;
            background:none;
            display:none;
        

        }


    





}
